---
import TenantCard from "@/components/TenantCard.astro";
import Layout from "@/layouts/Layout.astro";
import { protocol, rootDomain } from "@/utils";

const API_URL = protocol + '://' + rootDomain + '/api/tenants';

const tenantsData = await fetch(`${API_URL}`).then(res => res.json());
const tenants = tenantsData.docs || [];
---

<Layout>
  <div class="min-h-screen bg-gray-50 p-4 md:p-8">
    <div class="space-y-6 relative p-4 md:p-8">
      <div class="flex flex-wrap gap-3.5 justify-between items-center mb-8">
        <h1 class="text-3xl font-bold">Subdomain Management</h1><div
          class="flex items-center gap-4"
        >
          <a
            class="text-sm text-gray-500 hover:text-gray-700 transition-colors"
            href="/">{rootDomain}</a
          >
        </div>
      </div>

      <div class="grid gap-4 md:grid-cols-2 lg:grid-cols-3">
        {tenants.map((tenant:any) => (  
          <TenantCard tenant={tenant} client:load/>
        ))}
      </div>
    </div>
  </div>
</Layout>
